body {
    background-color:black;
    text-align: center;
}

img {

    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p{
    color:blanchedalmond;
    text-align: center;
}

h1 {
    color:white;
    text-align: center;

}

button {
    color:darkolivegreen;
    text-align: center;
}


